@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #252839;
  color: #f3f8fc;
}

header{
  width: 460px;
  margin: auto 0;
  position: fixed;
  display: flex;
  justify-content: right;
  padding-right: 80px; 
}

.container-icon{
  background-color: #f3f8fc;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.icon{
  width: 60px;
  padding: 12px;
  padding-top: 30px;
}

.invitation-card {
  max-width: 500px;
  overflow: hidden;
}

.header-image h1{
  font-size: 50px;
  font-weight: bolder;
  padding-left: 8px;
}

.header-image div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
}

.header-image div span{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 32px;
  letter-spacing: 16px;
  font-weight: normal;
}

.header-image img {
  width: 90%;
  margin: 0 auto ;
  height: 62vh;
  display: block;
  object-fit: cover;
  padding-top: 20px;
}

.section {
  padding: 20px;
  text-align: center;
}

.section:last-child {
  border-bottom: none;
}

.section h1,
.section h2 {
  margin-bottom: 10px;
  font-size: 45px;
  letter-spacing: 6px;
}

.section p {
  margin: 0 auto;
  padding: 55px 0;
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}

.fecha{
  display: block;
  margin-top: 22px;
  font-weight: normal;
  font-size: 42px;
}

.birretes-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.countdown {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}

#countdown{
  display: flex;
  justify-content:space-evenly
}

#countdown span {
  width: 10%;
  display: block;
  font-size: 24px;
  margin-top: 10px;
  padding: 7px;
  color: #252839;
  background-color: #f3f8fc;
}

.countdown-words{
  display: flex;
  justify-content: space-evenly;
  padding-top: 14px;
  width: 80%;
  margin: 0 auto;
}

.countdown-words strong{
  font-weight: lighter;
  font-size: 15px;
}

.word-hours{
  margin-left: 45px;
}

.word-minutes{
  margin-left: 28px;
}

.word-seconds{
  margin-left: 18px;
}

.birrete-img{
  margin-top: 20px;
  width: 120px;
}

.ubication strong, .clothes strong{
  font-size: 25px;
  display: block;
}

.ubication span{
  display: block;
  margin-top: 30px;
  font-size: 20px;
}

a {
  display: inline-block;
  padding: 12px 22px;
  font-weight: bold;
  margin-top: 20px;
  background-color: #f3f8fc;
  color: #252839;
  text-decoration: none;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: underline;
}

.clothes{
  margin: 50px 0;
}


.img-clothes{
  width: 180px;
}


.goodbye{
  background-color: #f3f8fc;
  color: #252839;
  font-weight: bolder;
  font-size: 20px;
  padding: 30px 20px;
}

.groupContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.groupContainer img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 20%;
}

.groupContainer strong{
  font-size: 40px;
}

.goodbye strong{
  display: block;
  margin-top: 10px;
  font-style: italic;
  font-size: 20px;
}